@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Lobster&family=Work+Sans&display=swap');
$Font:'Work Sans', sans-serif;
$Font1:'Lobster', cursive;
$Font2:'Dancing Script', cursive;
@keyframes change_color {
    0%{color:blue;}
    50%{color:yellow;}
    100%{color:rgb(255, 0, 166);}
}
@keyframes change_color_pw {
    0%{color:blue;}
    100%{color:red;}
}
@keyframes change_color_mobile {
    0%{color:rgb(255, 255, 0);}
    50%{color:rgb(255, 0, 0);}
    100%{color:rgb(17, 0, 255);}
}
@keyframes rung {
    0%{transform: translateY(0%);}
    25%{transform:translateY(10%);}
    50%{transform:translateY(0%);}
    75%{transform:translateY(10%);}
    100%{transform: translateY(0%);}
}

*{
    padding: 0;
    margin: 0;
}
html,body{
    font-family: $Font;
    transition: all 3s ease-in-out;
    width: 100%;
    height: 100%;
}
body{
    text-align: center;
}
body::-webkit-scrollbar{width: 10px;}
body::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background: linear-gradient(45deg, rgb(230, 0, 255), blue);
}
#login{
    transition: all 1s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    background:url('img/Hinh-nen-toi-gian-minimalist-canh-binh-minh-tren-nui.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    form{
        margin-top: 15px;
        #form-password{
            display: inline-block;
            position: relative;
            input{
                    border-radius: 5px;
                    padding: 7px;
                    margin: 10px;
            }
            label{
                position: absolute;
                right: 43px;
                top:18px; 
            }
        }
        
        #submit_login{
           background-color: rgb(46, 46, 255);
           margin: 0 auto;
           display: block;
           border-radius: 5px;
           padding: 7px;
           color: white;
        }
    }
    #form-warn{
        display: none;
        background-color: white;
        border-radius: 10px;
        position: fixed;
        right: 35px;
        top: 20px;
        width: 30%;
        height: 40px;
        animation-name: rung ;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        p{
            animation: change_color_pw 0.5s linear infinite;
            margin: 5px 5px 0 5px;
            background-color: rgb(40, 254, 40);
            border-radius: inherit;
            padding: 5px;
            color: red;
            font-weight: 900;
        }
    }
    button{
        display: none;
        margin: 20px auto;
        padding: 10px;
        background-color: rgb(255, 15, 219);
        border-radius: 10px;
        a{
            padding: 5px;
            text-decoration: none;
            color: white;
        }
    }
}
#background-web{
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
}
#background-mobile{
    display: none;
}
.title{
    height: 70px;
    background-color: rgba(0, 0, 255, 0.127);
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    h1{
        color: rgb(255, 0, 242);
        font-family: $Font1;
        font-size: 40px;
        padding-top: 15px;
    }
}
.all_content{display: flex;}
.sidebar-left{
    flex-basis: 20%;
    margin:0 20px;
    border: 2px solid blue;
    border-radius: 20px;
    h3{
        color: yellow;
    }
    #line{
      border: 1px solid rgb(0, 3, 156);
      margin: 5px 40px 0 40px;
    }
    p{
        color: white;
        font-size: 30px;
        font-family: $Font1;
        animation: change_color 1s linear infinite;
    }
}
.sidebar-right{
    flex-basis: 20%;
    margin:0 20px;
    border: 2px solid blue;
    border-radius: 20px;
    h3{
        color: yellow;
    }
    #line{
        border: 1px solid rgb(255, 0, 0);
        margin: 5px 40px 0 40px;
    }
    p{
        color: white;
        font-size: 30px;
        font-family: $Font1;
        animation: change_color 1s linear infinite;
    }
    iframe{
        width: 100%;
        height: 400px;
    }
    
}
.sidebar-left,.sidebar-right{
    background-color: rgba(0, 0, 255, 0.127);
}
main{
    flex-basis: 60%;
    .form-input{
        background-color: rgba(0, 0, 255, 0.284);
        text-align: left;
        border: 2px solid blue;
        border-radius: 20px;
        margin: 20px 150px ;
        form{
            font-family: $Font2;
          h2{
            color: rgb(255, 255, 0);
            font-family: $Font2;
            font-size: 30px;
         }
          margin: 5px;
            .form-group1{
                h2{
                    padding: 10px 0 0 0;
                }
                display: flex;
                div{
                    margin: 15px;
                    label{
                         font-size: 28px;
                         color: whitesmoke;
                    }
                    input{
                        cursor: pointer;
                    }
                }
            }
            .form-group2{
                display: flex;
                div{
                    margin-top: 3px;
                    position: relative;
                    input{
                        margin-left: 10px;
                        height: 25px;
                        cursor: pointer;
                        border-radius: 10px;
                        background-color: rgba(68, 66, 66, 0.048);
                        color:white;
                    }
                }
            }
            .form-group3{
                h2{
                    padding: 10px 0 0 0;
                }
                display: flex;
                div{
                    margin: 15px;
                    label{
                         font-size: 28px;
                         color: whitesmoke;
                    }
                    input{
                        cursor: pointer;
                    }
                }
            }
            .note{
                display: flex;
                div{
                    margin-top: 3px;
                    position: relative;
                    input{
                        margin-left: 10px;
                        height: 25px;
                        cursor: pointer;
                        border-radius: 10px;
                        background-color: rgba(68, 66, 66, 0.048);
                        color:white;
                    }
                }
            }
            .loadData{
                  text-align: center;
                  input{
                    font-family: $Font2;
                    cursor: pointer;
                    font-size: 25px;
                    padding: 8px 60px;
                    margin: 10px;
                    border-radius: 10px;
                    background-color: rgba(49, 48, 47, 0.281);
                    color: white;
                  }
                  :hover{
                    background-color: rgba(255, 0, 0, 0.278);
                    color: yellow;
                  }
                  button{
                    font-family: $Font2;
                    cursor: pointer;
                    font-size: 25px;
                    padding: 8px 60px;
                    margin: 10px;
                    border-radius: 10px;
                    background-color: rgba(49, 48, 47, 0.281);
                    color: white;
                  }
            }
        }
    }
    .data_sheet{
        margin: 0 5px;
        iframe{
            width: 100%;
            height: 400px;
            border-radius: 30px;
            background-color: rgba(0, 0, 255, 0.649);
        }
    }
}
@media (max-width:790px) {
    #login{
        h1{
            margin: 30% auto 0 auto !important;
        }
    }
    #form-warn{
        display: none;
        background-color: white;
        border-radius: 10px;
        position: fixed;
        right: 0px !important;
        top: 20px;
        margin: 0 auto ;
        width: 100% !important;
        height: 40px;
        animation-name: rung ;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        p{
            animation: change_color_pw 0.5s linear infinite;
            background-color: rgb(40, 254, 40);
            border-radius: inherit;
            padding: 5px !important;
            color: red;
            font-weight: 900;
            margin-top: 4px !important;
        }
    }
    #background-mobile{
        display: block;
        width: 100%;
        height:100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -10;
    }
    #background-web{
        display: none;
    }
    .title{
        height: 50px;
        margin-bottom: 10px;
        h1{
            padding: 0px;
        }
    }
    .all_content{flex-direction: column;}
    .form-input{
        margin: 0 !important;
    }
    .sidebar-left{
        margin-bottom: 10px;
        #line{
          border: 1px solid rgb(156, 0, 0);
          margin: 5px 40px 0 40px;
        }
        p{
            animation: change_color_mobile 1.5s linear infinite;
        }
    }
    .sidebar-right{
        margin-top: 10px;
        #line{
            border: 1px solid rgb(255, 0, 0);
            margin: 5px 40px 0 40px;
        }
        p{
            animation: change_color_mobile 1.5s linear infinite;
        }
        
    }
    main{
        .form-input{
            background-color: rgba(0, 0, 255, 0.125);
            text-align: left;
            border: 2px solid blue;
            border-radius: 20px;
            margin: 20px 150px ;
            form{
            h2{
                color: rgb(0, 255, 204);
                font-size: 35px;
            }
            margin: 5px;
                .form-group1{
                    h2{
                        padding: 10px 0 0 0;
                    }
                    display: block;
                    div{
                        margin: 15px;
                        label{
                             font-size: 25px;
                             color: whitesmoke;
                        }
                        input{
                            cursor: pointer;
                        }
                    }
                }
                .form-group2{
                    display: block;
                    div{
                        input{
                            background-color: rgba(59, 58, 56, 0.396);
                        }
                    }
                }
                .form-group3{
                    h2{
                        padding: 10px 0 0 0;
                    }
                    display: block;
                    div{
                        margin: 15px;
                        label{
                             font-size: 25px;
                             color: whitesmoke;
                        }
                        input{
                            cursor: pointer;
                        }
                    }
                }
                .note{
                    display: block;
                    h2{
                        display: inline-block;
                    }
                    div{
                        display: inline-block;
                        input{
                            background-color: rgba(59, 58, 56, 0.396);
                        }
                    }
                }
                .loadData{
                      text-align: center;
                      input{
                        cursor: pointer;
                        font-size: 20px;
                        padding: 8px 90px;
                        margin: 10px;
                      }
                      
                      button{
                        cursor: pointer;
                        font-size: 20px;
                        padding: 8px 60px;
                        margin: 10px;
                      }
                }
            }
        }
        .data_sheet{
            margin: 10px 0 0 0;
            iframe{
                width: 100%;
                height: 400px;
                border-radius: 30px;
            }
        }
    }
}